In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [9]:
# Read in the test file
df_train = pd.read_csv('./data/df_train.csv')
df_train.reset_index(inplace=True, drop=True)
df_train.head()

,finishing_position,horse_number,horse_name,horse_id,jockey,trainer,actual_weight,declared_horse_weight,draw,length_behind_winner,...,running_position_6,race_id,recent_6_runs,recent_ave_rank,race_distance,HorseWin,HorseRankTop3,HorseRankTop50Percent,jockey_ave_rank,trainer_ave_rank
0,1,1.0,DOUBLE DRAGON,K019,B Prebble,D Cruz,133,1032,1,-,...,NaN,2014-001,1,1.0,1400,1,1,1,6.052910,7.381862
1,2,2.0,PLAIN BLUE BANNER,S070,D Whyte,D E Ferraris,133,1075,13,2,...,NaN,2014-001,2,2.0,1400,0,1,1,5.825153,6.611465
2,3,10.0,GOLDWEAVER,P072,Y T Cheng,Y S Tsui,121,1065,3,2,...,NaN,2014-001,3,3.0,1400,0,1,1,7.857759,6.888713
3,4,3.0,SUPREME PROFIT,P230,J Moreira,C S Shum,132,1222,2,2,...,NaN,2014-001,4,4.0,1400,0,0,1,4.179172,6.680328
4,5,7.0,THE ONLY KID,H173,Z Purton,K W Lui,125,1136,9,4-1/4,...,NaN,2014-001,5,5.0,1400,0,0,1,5.284127,6.903955

In [10]:
df_test.columns

Index(['finishing_position', 'horse_number', 'horse_name', 'horse_id',
       'jockey', 'trainer', 'actual_weight', 'declared_horse_weight', 'draw',
       'length_behind_winner', 'running_position_1', 'running_position_2',
       'running_position_3', 'running_position_4', 'finish_time', 'win_odds',
       'running_position_5', 'running_position_6', 'race_id', 'recent_6_runs',
       'recent_ave_rank', 'race_distance', 'HorseWin', 'HorseRankTop3',
       'HorseRankTop50Percent', 'jockey_ave_rank', 'trainer_ave_rank'],
      dtype='object')

In [11]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23500 entries, 0 to 23499
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   finishing_position     23500 non-null  int64
 1   horse_number           23500 non-null  float64
 2   horse_name             23500 non-null  object
 3   horse_id               23500 non-null  object
 4   jockey                 23500 non-null  object
 5   trainer                23500 non-null  object
 6   actual_weight          23500 non-null  int64
 7   declared_horse_weight  23500 non-null  int64
 8   draw                   23500 non-null  int64
 9   length_behind_winner   23500 non-null  object
 10  running_position_1     23500 non-null  float64
 11  running_position_2     23500 non-null  float64
 12  running_position_3     23500 non-null  float64
 13  running_position_4     13299 non-null  float64
 14  finish_time            23500 non-null  object
 15  win_odds               23500 non-null  float64
 16  running_position_5     2964 non-null   float64
 17  running_position_6     395 non-null    float64
 18  race_id                23500 non-null  object
 19  recent_6_runs          23500 non-null  object
 20  recent_ave_rank        23500 non-null  float64
 21  race_distance          23500 non-null  int64
 22  HorseWin               23500 non-null  int64
 23  HorseRankTop3          23500 non-null  int64
 24  HorseRankTop50Percent  23500 non-null  int64
 25  jockey_ave_rank        23500 non-null  float64
 26  trainer_ave_rank       23500 non-null  float64
dtypes: float64(11), int64(8), object(8)
memory usage: 4.8+ MB

In [103]:
# Keep the features we want to train our model on
df = df_train[['horse_name', 'horse_number', 'jockey',
                'actual_weight', 'declared_horse_weight',
                'draw', 'win_odds', 'jockey_ave_rank',
                'trainer_ave_rank', 'recent_ave_rank', 'race_distance',
                'HorseWin', 'HorseRankTop3', 'HorseRankTop50Percent']]

In [104]:
df.notnull().sum()

horse_name               23500
horse_number             23500
jockey                   23500
actual_weight            23500
declared_horse_weight    23500
draw                     23500
win_odds                 23500
jockey_ave_rank          23500
trainer_ave_rank         23500
recent_ave_rank          23500
race_distance            23500
HorseWin                 23500
HorseRankTop3            23500
HorseRankTop50Percent    23500
dtype: int64

In [105]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23500 entries, 0 to 23499
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   horse_name             23500 non-null  object
 1   horse_number           23500 non-null  float64
 2   jockey                 23500 non-null  object
 3   actual_weight          23500 non-null  int64
 4   declared_horse_weight  23500 non-null  int64
 5   draw                   23500 non-null  int64
 6   win_odds               23500 non-null  float64
 7   jockey_ave_rank        23500 non-null  float64
 8   trainer_ave_rank       23500 non-null  float64
 9   recent_ave_rank        23500 non-null  float64
 10  race_distance          23500 non-null  int64
 11  HorseWin               23500 non-null  int64
 12  HorseRankTop3          23500 non-null  int64
 13  HorseRankTop50Percent  23500 non-null  int64
dtypes: float64(5), int64(7), object(2)
memory usage: 2.5+ MB

In [106]:
# import label encoder
from sklearn.preprocessing import LabelEncoder

# instantiate labelencoder object
le_horse_name = LabelEncoder()

# apply le on categorical feature columns
df['horse_name'] = le_horse_name.fit_transform(df['horse_name'])

# instantiate labelencoder object
le_jockey = LabelEncoder()

# apply le on categorical feature columns
df['jockey'] = le_jockey.fit_transform(df['jockey'])

C:\Users\finan\AppData\Local\Temp/ipykernel_13028/853827769.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['horse_name'] = le_horse_name.fit_transform(df['horse_name'])
C:\Users\finan\AppData\Local\Temp/ipykernel_13028/853827769.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['jockey'] = le_jockey.fit_transform(df['jockey'])

In [107]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23500 entries, 0 to 23499
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   horse_name             23500 non-null  int32
 1   horse_number           23500 non-null  float64
 2   jockey                 23500 non-null  int32
 3   actual_weight          23500 non-null  int64
 4   declared_horse_weight  23500 non-null  int64
 5   draw                   23500 non-null  int64
 6   win_odds               23500 non-null  float64
 7   jockey_ave_rank        23500 non-null  float64
 8   trainer_ave_rank       23500 non-null  float64
 9   recent_ave_rank        23500 non-null  float64
 10  race_distance          23500 non-null  int64
 11  HorseWin               23500 non-null  int64
 12  HorseRankTop3          23500 non-null  int64
 13  HorseRankTop50Percent  23500 non-null  int64
dtypes: float64(5), int32(2), int64(7)
memory usage: 2.3 MB

In [116]:
df.head()

,horse_name,horse_number,jockey,actual_weight,declared_horse_weight,draw,win_odds,jockey_ave_rank,trainer_ave_rank,recent_ave_rank,race_distance,HorseWin,HorseRankTop3,HorseRankTop50Percent
0,393,1.0,6,133,1032,1,3.8,6.052910,7.381862,1.0,1400,1,1,1
1,1303,2.0,25,133,1075,13,8.0,5.825153,6.611465,2.0,1400,0,1,1
2,690,10.0,96,121,1065,3,5.7,7.857759,6.888713,3.0,1400,0,1,1
3,1664,3.0,41,132,1222,2,6.1,4.179172,6.680328,4.0,1400,0,0,1
4,1701,7.0,98,125,1136,9,6.1,5.284127,6.903955,5.0,1400,0,0,1

In [108]:
## split df into X and y
X = df.drop(['HorseWin', 'HorseRankTop3', 'HorseRankTop50Percent'], axis=1)
y = df['HorseWin']

In [109]:
# import logistic regression
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import mean_squared_error

# instantiate the model
logreg = LogisticRegression()

# fit the model with data
logreg.fit(X, y)

# check on the rmse
y_pred = logreg.predict(X)

print(mean_squared_error(y, y_pred, squared=False))

0.2798935968040621

c:\Users\finan\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [110]:
X

,horse_name,horse_number,jockey,actual_weight,declared_horse_weight,draw,win_odds,jockey_ave_rank,trainer_ave_rank,recent_ave_rank,race_distance
0,393,1.0,6,133,1032,1,3.8,6.052910,7.381862,1.000000,1400
1,1303,2.0,25,133,1075,13,8.0,5.825153,6.611465,2.000000,1400
2,690,10.0,96,121,1065,3,5.7,7.857759,6.888713,3.000000,1400
3,1664,3.0,41,132,1222,2,6.1,4.179172,6.680328,4.000000,1400
4,1701,7.0,98,125,1136,9,6.1,5.284127,6.903955,5.000000,1400
...,...,...,...,...,...,...,...,...,...,...,...
23495,1577,11.0,67,121,1075,5,19.0,8.103093,8.121951,5.850000,1000
23496,1234,4.0,59,130,1203,1,17.0,7.440841,7.369128,6.903226,1000
23497,1841,7.0,44,129,1237,2,18.0,7.330365,6.715420,5.454545,1000
23498,502,12.0,17,114,1141,3,87.0,7.464696,7.177492,9.833333,1000
23499,1079,8.0,45,123,1071,7,47.0,8.535494,7.381862,5.052632,1000

In [142]:
X.iloc[93]

horse_name                835.000000
horse_number                4.000000
jockey                     98.000000
actual_weight             127.000000
declared_horse_weight    1118.000000
draw                       10.000000
win_odds                    3.000000
jockey_ave_rank             5.284127
trainer_ave_rank            6.730798
recent_ave_rank             1.000000
race_distance            1400.000000
Name: 93, dtype: float64

In [144]:
X_test_array = np.array([['HIDDEN VALUE', 4, 'Z Purton', 127, 1118, 10, 3, 5.284127, 6.730798, 1.0, 1400]])
X_test_array

array([['HIDDEN VALUE', '4', 'Z Purton', '127', '1118', '10', '3',
        '5.284127', '6.730798', '1.0', '1400']], dtype='<U32')

In [145]:
# transform string into int
X_test_array[:, 0] = le_horse_name.transform(X_test_array[:, 0])
X_test_array[:, 2] = le_jockey.transform(X_test_array[:, 2])

In [146]:
# change X array to float
X_test_array = X_test_array.astype(float)
X_test_array

array([[8.350000e+02, 4.000000e+00, 9.800000e+01, 1.270000e+02,
        1.118000e+03, 1.000000e+01, 3.000000e+00, 5.284127e+00,
        6.730798e+00, 1.000000e+00, 1.400000e+03]])

In [147]:
y_pred = logreg.predict(X_test_array)

c:\Users\finan\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

In [148]:
print(y_pred)

[1]

In [139]:
y_pred_list = logreg.predict(X)
X.iloc[93]

horse_name                835.000000
horse_number                4.000000
jockey                     98.000000
actual_weight             127.000000
declared_horse_weight    1118.000000
draw                       10.000000
win_odds                    3.000000
jockey_ave_rank             5.284127
trainer_ave_rank            6.730798
recent_ave_rank             1.000000
race_distance            1400.000000
Name: 93, dtype: float64

In [136]:
# find the location of the first 1
y_pred_list = np.where(y_pred_list == 1)
y_pred_list

(array([   93,   107,   119,   191,   307,   316,   441,   650,   769,
          887,   926,  1350,  1377,  1401,  1690,  1704,  1957,  2025,
         2412,  2888,  3034,  3766,  4161,  6420,  6462,  7246,  7301,
         7758,  7819,  8217,  8787,  8888,  9030,  9544,  9557,  9704,
        11267, 11853, 11868, 12744, 12811, 13225, 14966, 15148, 15278,
        17269, 18246, 18528, 19080, 19832, 21019, 22632], dtype=int64),)

In [140]:
# check name of horse from the number
le_horse_name.inverse_transform([835])

array(['HIDDEN VALUE'], dtype=object)

In [143]:
le_jockey.inverse_transform([98])

array(['Z Purton'], dtype=object)

In [150]:
# import pickle
import pickle

In [151]:
# pickle the model

# create the data to pickle
data = {"model": logreg, "le_horse_name": le_horse_name, "le_jockey": le_jockey}

# open a file, where you ant to store the data
file = open('saved_steps.pkl', 'wb')

# dump information to that file
pickle.dump(data, file)

In [152]:
# open the pickle file
file = open('saved_steps.pkl', 'rb')

# load the pickle file
data = pickle.load(file)

# load the model
model = data['model']

# load the label encoder
le_horse_name = data['le_horse_name']
le_jockey = data['le_jockey']

In [154]:
y_pred = model.predict(X_test_array)
y_pred

c:\Users\finan\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([1], dtype=int64)